
<style type="text/css">
		.hideSectionNormalCell { color: #000000; background-color: #CCCCCC; vertical-align: top}
		.hideSectionNormalCell { display:none ; }
		.hideSection { display:none ; }
	</style>